@font-face {
  font-family: 'Caslon';
  src: url('/fonts/caslon-540.otf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  --primary: #ffffff;
  --pink: #e0cac1;
  --gray-1: #cbd0d1;
  --gray-2: #a7b0b1;
  --gray-3: #9aa4a6;
  --gray-4: #8f98a5;
  --gray-5: #7b8695;
  --green-1: #2c4040;
  --green-2: #9ba59a;
  --black: #000000;
}

[data-theme='dark'] {
  --primary: #ffffff;
  --pink: #e0cac1;
  --gray-1: #cbd0d1;
  --gray-2: #a7b0b1;
  --gray-3: #9aa4a6;
  --gray-4: #8f98a5;
  --gray-5: #7b8695;
  --green-1: #2c4040;
  --green-2: #9ba59a;
  --black: #000000;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--black);
}

body {
  @apply min-h-screen;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
